{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic Strategy</title>
  <script src="https://kit.fontawesome.com/22d85804c9.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {% block content %}{% endblock content %}
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>