{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="welcome">
  <h1 class="welcome__title">BLACKJACK BASIC STRATEGY TRAINER</h1>
  <h3 class="welcome__subtitle">USE THIS TOOL TO HELP MEMORIZE THE <span class="welcome__strategy">BLACKJACK BASIC STRATEGY TABLE</span>.</h3>
  <a class="welcome__enter">START</a>
</div>
<div class="dim"></div>
<div class="bjbs">
  <span>&times;</span>
  <img class="bjbs__table" src="{% static 'img/blackjack-strategy' %}" alt="">
</div>
{% endblock content %}