{% extends "base.html" %}
{% load static %}

{% block content %}
<span class="dev-answer" style="display: none"></span>
<div class="table">
  <span class="table__bjbs"><i class="fas fa-atlas"></i></span>
  <span class="table__pairs">D</i></span>
  <span class="table__aces">A</span>
  <div class="table__cards">
    <div class="table__player dealer">
      <div class="dealer__cards"></div>
      <div class="dealer__description">
        <span class="dealer__text"></span>
      </div>
    </div>
    <div class="table__player user">
      <div class="user__cards"></div>
      <div class="user__description">
        <span class="user__text"></span>
      </div>
    </div>
  </div>
  <div class="table__moves">
    <div class="stats">
      <span class="stats__correct">0</span>
      <span class="stats__slash"> / </span>
      <span class="stats__total">0</span>
    </div>
    <div class="move stand">
      <img src="{% static 'img/move_stand.png' %}" alt="Stand" class="move__image">
      <button class="move__button move__stand">Stand</button>
    </div>
    <div class="move hit">
      <img src="{% static 'img/move_hit.png' %}" alt="Hit" class="move__image">
      <button class="move__button move__hit">Hit</button>
    </div>
    <div class="move double">
      <img src="{% static 'img/move_doubledown.png' %}" alt="Double Down" class="move__image">
      <button class="move__button move__double">Double Down</button></div>
    <div class="move split">
      <img src="{% static 'img/move_split.png' %}" alt="Split" class="move__image">
      <button class="move__button move__split">Split</button>
    </div>
  </div>
</div>
{% include "guide.html" %}
<script src="{% static 'js/dealer.js' %}"></script>
<script>main();</script>
{% endblock content %}